@import "tailwindcss";

:root {
  --background: #F9F9F7;
  --background-muted: #dfdfd5;
  --foreground: #111111;
  --violet: #6366F1;
  --emerald: #10B981;
  --warm-amber: #F59E0B;
  --slate-blue: #4F6BED;
  
}

@theme inline {
  --color-background: var(--background);
  --color-background-muted: var(--background-muted);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);
  --font-mono: var(--font-dm-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.about-section .about-word {
  transform-origin: 50% 100%;
}
